services:
  app:
    container_name: warranty-system
    image: ghcr.io/jonasotoaguilar/warranty-system:latest
    ports:
      - "3001:3001"
    networks:
      - dokploy-network
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=dokploy-network"
      - "traefik.http.routers.warranty-secure.rule=Host(`warranty-system.jonasotoaguilar.space`)"
      - "traefik.http.routers.warranty-secure.entrypoints=websecure"
      - "traefik.http.services.warranty-secure.loadbalancer.server.port=3001"
      - "traefik.http.routers.warranty-secure.middlewares=authentik-warranty"
      - "traefik.http.middlewares.authentik-warranty.forwardauth.address=http://authentik-server:9000/outpost.goauthentik.io/auth/traefik"
      - "traefik.http.middlewares.authentik-warranty.forwardauth.trustForwardHeader=true"
      - "traefik.http.middlewares.authentik-warranty.forwardauth.authResponseHeaders=X-authentik-username,X-authentik-groups,X-authentik-email,X-authentik-name,X-authentik-uid,remote-user,remote-groups,remote-email,remote-name"
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - DIRECT_URL=${DIRECT_URL}
    restart: always

networks:
  dokploy-network:
    external: true
