name: Build Docker images

on:
  push:
    branches: ["main"]

jobs:
  build-and-push-dockerfile-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          # Asegúrate de agregar estos secretos en la configuración de tu repositorio
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile # Ruta a tu Dockerfile
          push: true
          # Reemplaza 'namespace/example' con tu propio namespace y nombre de repositorio
          tags: | 
            jonathansotoa/warranty-system:latest 
          platforms: linux/amd64